/* Colores
 */
:root {
    --celeste: #8ECAE6;
    --azul-claro: #219EBC;
    --azul-oscuro: #023047;
    --amarillo: #FFB703;
    --naranja: #FB8500;
}

body {
    font-family: 'Inter', sans-serif;

}

/* Quitamos bordes y paddings Cris */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*******navbar*/
nav {
    
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    bottom: auto;
    padding: 10px;
    margin: 10px 15px;
    align-items: center;
    border-radius: 2em;
    background-color: #ffb703;
    border: 1px solid #ffb703;
    mix-blend-mode: difference;
    z-index: 2;

}
.drummusicfake {

    height: 80px;    
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
}


.logo .drum {
    width: 65px;
    height: 60px;
    border: 5px solid #023047;
    border-radius: 120em;
    background-color: white;
    
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

nav ul {
    justify-content: center;
    align-items: center;
    
}

.drummusic {
    display: flex;
    align-items: center;

}

.nav-links li{
    list-style: none;
    margin: 10px 50px 10px 10px;
    
    
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    border: 10px solid #023047;
    border-radius: 12em;
    background: #023047;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

nav ul li a:hover {
    background-color: #fb8500;
    color: white;

}



/*.....*/

html {
    font-size: 62.5%;
}

/* Cristian CSS */
.text-smol {
    padding: 10px;
    font-size: 1.7rem;
    text-align: justify;
    padding: 22px;

}

.text-padding {

    padding: 0 333px 24px 390px;
}

.info__container {
    width: 100%;
    /* height: 783px; */
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    justify-content: center;
    align-items: center;
}

.info__titulo {
    /* height: 102px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    transition: 1s;
}

.info__titulo {
    font-size: 6.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--amarillo);
}

.info__parrafo {
    width: 100%;
    /* height: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.info__parrafo p {
    width: 42%;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--azul-oscuro);
    text-align: justify;
}

.info__descripcion {
    width: 100%;
    /* height: 550px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__img {
    width: 50%;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023047;
    border: 5px solid #023047;
    border-radius: 50em;
}

.info__contexto {
    width: 34%;
}

.info__contexto p {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: justify;
    color: var(--azul-oscuro);

}

.info__button {
    width: 223px;
    height: 56px;
    border-radius: 25px;
    background-color: #219EBC;
    border: none;
    font-size: 3.5rem;
    font-family: 'Inter', sans-serif;
    color: white;
}


.div_instrument{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
}

.div_instrument h2{
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
}

.div_instrument p{
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
}

/* Cristian CSS */

/* Hero */

.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

/* .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
} */

.hero-image {
    width: 40%;
    padding: 50px;
    z-index: -2;
}

.hidden {
    display: none;
}

/* css drums*/
#Drums>circle {
    opacity: 0.2;
}

.clicked {
    /* fill: #ffff936e; */
    fill: #f1deaeba;
    filter: blur(10px);
    transition: 0.1s;

}

.pedal {
    opacity: 0.1;

}

#keys {
    pointer-events: none;
}

.bateria__titulo{
    display: flex;
    justify-content: center;
}

.bateria__titulo h2 {
    font-size: 3.4rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

}


.bateria_container {
    width: 100%;
}

.bateria_container svg {
    width: 100%;
}


/* animaitinl */

.smull {
    font-size: 30px;
    padding-right: 117px;
}

.top-sticky {
    position: sticky;
    top: 31px
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
    
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

    nav{
        margin: 0 0 0 0;
        border-radius: 0em;
        background-color: #ffb703;
        
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffb703;
        display: flex;
        flex-direction: column;
        align-items: center;   
        
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
        margin: 50px 50px 50px 50px;
        
    }

    .nav-links li a{
        background: none;
        border: none;
        padding: 10px 10px 10px 10px;
       
    }
    .burger{
        display: block;
        cursor: pointer;
        
    }
    
}

.nav-active{
    transform: translateX(5%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg translate(-5px,6px));
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg translate(-5px,-6px));
}
